:root{
    --aquamarine: #7fffd4;
    --dark-slate-gray: #2f4f4f;
    --light-sky-blue: #87cefa;
}
html{
    font-size: 120%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}
header{
    position: fixed;
    top:0; left:0; right: 0;
    padding: 2rem 9%;
    background-image: url(https://www.shutterstock.com/image-photo/guitar-side-view-string-fingerboard-260nw-11652337.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    height: 10%;
}
.logo{
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--light-sky-blue);
    text-shadow: 5px 2px 2px rgba(2, 1, 1, 0.2);
}
.navbar{
    display: flex;
    gap: 2rem;
}
.navbar a{
    text-decoration: none;
    font-size: 1.5rem;
    color: white;
    font-weight: 600;
    transition: .3s;
}
.navbar a:hover{
    color: var(--aquamarine);
    text-shadow: 2px 2px 4px rgba(0,0,0,.3);
}
