*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-image: url(https://thumbs.dreamstime.com/b/rose-gold-saxophone-flowers-pastel-pink-background-359075374.jpg);
    background-size: cover;
    background-position: center;
}
.container {
    max-width: 600px;
    margin: 20px;
    padding: 20px;
    background: transparent;
    border-radius: 15px;
    box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
}
h1 {
    text-align: center;
    margin-bottom: 20px;
    color: rgb(117, 2, 88);
    text-shadow: 2px -2px 2px rgba(0, 0, 0, 0.2);
    border: 1px solid rgb(117, 2, 88);
    border-radius: 10px;
    padding: 10px;
}
label {
    display: block;
    margin-bottom: 5px;
}
input[type="text"],
input[type="email"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    align-content: center;
    text-align: center;
}
button {
    width: 50%;
    padding: 10px;
    background: #9e1864;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s ease;
    transform: translateY(0);
    font-size: 20px;
}
button:hover {
    background: #7628a7;
}