*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-image: url(https://thumbs.dreamstime.com/b/rose-gold-saxophone-flowers-pastel-pink-background-359075374.jpg);
    background-size: cover;
    background-position: center;
}
.access {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin: 20px;
    border: 1px solid rgb(247, 168, 198);
    border-radius: 10px;
    padding: 20px;
    backdrop-filter: blur(3px);;
    overflow: auto;
    box-shadow: inset 2px -2px 15px rgb(249, 77, 163);
}
.access h1 {
    color: rgb(147, 7, 68);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
}
.access .container {
    width: 100%;
    max-width: 400px;
}
.access .container .input-box {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.access form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.access form label {
    font-weight: bold;
    color: rgb(147, 7, 68);
}
.access form input, .access form select {
    padding: 10px;
    border: 1px solid rgb(247, 168, 198);
    border-radius: 5px;
    font-size: 1rem;
}
.access form button {
    padding: 10px;
    background-color: rgb(249, 77, 163);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.access form button:hover {
    background-color: rgb(147, 7, 68);
}