:root{
    --pink:#e84393;
    --white: #ffffff;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    transition: .2s linear;
}
body{
    background-color: rgb(249, 230, 234);
    margin: 0;
    padding: 0;
}
html{
    font-size: 94.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}
.guitar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.guitar h1{
    background: #f180b7;
    color: #530329;
    width: 200px;
    height: 35px;
    padding-top: 15px;
    border-radius: 5px;
    font-weight: bolder;
    font-size: 30px;
    text-shadow: 2px 20x 3px#570677;
}
.arrow a {
    margin: 10px;
    text-decoration: none;
    background: #f77cb5;
    padding: px;
    border-radius: 4px;
    font-size: 18px;
    border: 1px solid purple;
    box-shadow: 1px 1px 2px #530329;
    color: #570677;
}
.arrow a:hover{
    background: transparent;
    padding: 9px;
    box-shadow: inset 2px 3px 5px #530329;
    color: var(--pink);
    border-radius: 22px;
}
.products{
    background: #f8e6eb;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 10px;
}
.products h1{
    background: pink;
    color: rgb(3, 3, 3);
    width: 100%;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2px;;
    box-shadow: 1px 1px 2px rgb(90, 9, 90);
    font-weight: lighter;
}
span{
    color: var(--pink);
    padding-left: 8px;
    border-radius: 2px;
}
.box-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin: 10px;
}
.box-container .box{
    overflow: hidden;
    border: 1px solid black;
    border-radius: 7px;
    width: 220px;
    padding: 2px;
    margin: 4px;
    background: #f5d0e2;
    height: 335px;
    align-content: center;
}
.box-container .box .discount{
    color: var(--pink);
    display:inline-flex;
    font-size: 1.3rem;
    border: 1px solid black;
    background-color: #f9c8df;
    box-shadow: 2px 2px 3px purple;
    text-shadow: 1px 1px 2px rgb(40, 2, 40);
    margin: 2px;
}
.box-container .box .icons{
    color: rgb(72, 59, 59);
    text-align: center;
}
.box-container .box .icons a{
    color: var(--pink);
    font-size: 17px;
    padding: 2px;
}
.box-container .box .icons a:hover{
    color:rgb(36, 36, 218);
    padding: 4px;
}
.box-container .box .icons .image{
    background: rgb(249, 152, 191);
    
}
.box-container .box .icons .image h4{
    width: 100%;
    background: #f6dde9;
    font-size: 12px;
}
.box-container .box .icons .image .price{
    font-weight: bold;
    background: #f2499b;
    color: black
}
.box-container .box .icons .image img{
    width: 100%;
    padding: 0;
    margin: 0;
}
.footer{
    width: 100%;
    background: linear-gradient(rgb(249, 230, 234), rgb(250, 131, 189));
}
.footer .box-contain{
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    margin: 5px;
}
.footer .box-contain .box{
    flex: 1 1 20rem;
}
.footer .box-contain .box h3{
    color:#ee2486;
    font-weight: lighter;
    margin: 3px;
    padding: 5px;
    font-size: 1.5rem;
    text-decoration: none;
}
.footer .box-contain .box a{
    display: block;
    color: rgb(4, 4, 123);
    padding: 2px;
    margin: 2px;
    text-decoration: none;
}
.footer .box-contain .box1{
    flex: 1 1 20rem;
}
.footer .box-contain .box1 h3{
    color:#ee2486;
    font-weight: lighter;
    margin: 3px;
    padding: 5px;
    font-size: 1.5rem;
}
.footer .box-contain .box1 a{
    display: block;
    color: rgb(4, 4, 123);
    padding: 2px;
    margin: 2px;
}
.footer .box-contain .box1 .fa{
    padding: 8px;
    font-size: 25px;
    width: 40px;
    text-align: center;
    text-decoration: none;
    margin: 4px 2px;
    border-radius: 50%;
}
.footer .box-contain .box1 .fa-facebook{
    background: #3B5998;
    color: white;
}
.footer .box-contain .box1 .fa-instagram{
    background: #125688;
    color: white;
}
.footer .box-contain .box1 .fa-youtube{
    background: #bb0000;
    color: white;
}
.footer .box-contain .box1 .fa-twitter{
    background: #55ACEE;
    color: white;
}
.footer .box-contain .box a:hover{
    color:#ee2486;
    padding: 4px;
    text-decoration: underline;
}
.footer .box-contain .box1 a:hover{
    box-shadow: 2px 2px 3px#fcfbfc;
    padding: 10px;
}
.footer .foot{
    text-align: center;
    padding:1.5rem;
    margin-top: 1.5rem;
    padding-top: 5px;
    font-size: 1.2rem;
    color:#fefdfd;
    border-top: .1rem solid rgba(0,0,0,.1);
}