:root{
    --pink:#e84393;
    --white: #ffffff;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    transition: .2s linear;
}
body{
    background-color: rgb(249, 230, 234);
}
html{
    font-size: 94.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}
header{
    position: fixed;
    margin: 0;
    background: pink;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: .4s;
    top: 0; left: 0; right: 0;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}
.logo{
    margin-top: 8px;
    margin-left: 5px;
    margin-bottom: 5px;
    padding: 5px;
}
.logo h1{
    font-weight: 100px;
    font-size: 40px;
    color: var(--pink);
    text-shadow: 4px 4px 4px black;
}
.navbar{
    margin-left: 5rem;

}
.navbar a{
    color: rgb(53, 42, 42);
    font-size: 1.3rem;
    text-decoration: none;
    padding: 8px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.navbar a:hover{
    font-size: 1.4rem;
    color: var(--pink);
    transition: .5s;
    background: transparent;
    box-shadow: 2px -4px 4px rgb(190, 54, 97) inset;
    border-radius: 22px;
}
header .icons a{
    color: rgb(71, 56, 56);
    font-size: 2rem;
    margin-left: 1.5rem;
}
header .icons .fa-user{
    border: 1px solid rgb(125, 2, 69);
    border-radius: 50%;
    padding: 3px 2px;
    margin-right: 4px;
}
header .icons a:hover{
    color: var(--pink);
    font-size: 2.1rem;
}
.container{
    background-image: url(https://thumbs.dreamstime.com/b/rose-gold-saxophone-flowers-pastel-pink-background-359075374.jpg);
    background-size: cover;
    background-position: center;
    margin-top: 6.7rem;
    height: 320px;
}
.content{
    width: 50%;
}
.content h2{
    color: rgb(108, 3, 50);
    font-family: bungee;
    margin-left: 3rem;
    margin-top: 2rem 0;
    padding: 2rem 9%;
    font-weight: lighter;
}
.content p{
    color: rgb(117, 4, 81);
    font-family: anton;
    font-size: 1.1rem;
    margin-left: 3rem;
    font-weight: lighter;
}
.content a{
    background: var(--pink);
    border-radius: 20px;
    color: black;
    padding: 5px;
    text-align: center;
    margin: 20px;
    display: inline block;
    font-size: 12px;
    bottom: 10px;
    
}
.content .course{
    height: 100px;
    box-shadow: 2px 2px 2px rgb(186, 79, 135);
    border-radius: 10px;
    width: 70%;
    margin-left: 5px;
    margin-top: 6px;
    backdrop-filter: blur(10px);
}
.content .course p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 20px;
}
.button a{
    box-shadow: 3px 3px 4px inset rgb(14, 14, 14) ;
}
.content a:hover{
    color: white;
    background: transparent;
    padding: 6px;
}
.about .row{
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding:2rem 0;
    padding-bottom: 3rem;
    margin: 5px;
    border: 0;
    border-radius: 4px;
    box-shadow: 2px 3px 3px rgb(161, 110, 110);
}
.about h1{
    color: rgb(92, 63, 84);
    text-align: center;
    background: #fc9ecc;
    width: 100%;
    margin: 7px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about .content1{
    margin: 2px;
    width: 50%;
}
.about .content1 h2{
    background: #f5d0e2;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about .content1 p{
    margin: 6px;
    color: rgb(3, 3, 137);
}
.row .content1 a{
    margin-top: 10px;
    background: rgb(243, 81, 151);
    border-radius: 10px;
    color: white;
    box-shadow: 4px 4px 4px rgb(75, 14, 14) inset;
    margin: 5px;
    padding: 5px;
    bottom: 10px
}
.row .content1 a:hover{
    padding: 7px;
    border-radius: 15px;
    background: #f50a7c;
}
.row .video-container{
    flex: 1 1 40rem;
    position: relative;
}
.row .video-container video{
    width: 100%;
    border: .5rem solid rgb(247, 225, 247);
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgb(243, 164, 243);
    height: 100%;
    object-fit: cover;
}
.icons-cont{
    background: white;
    padding: 2rem;
}
.icons-cont .icons{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.icons-cont .icons h3{
    color: rgb(113, 36, 36);
}

.icons-cont .icons p{
    background: #faf1f5;
    border-radius: 5px;
}
.products{
    background: #faf1f5;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.products h1{
    background: pink;
    color: rgb(3, 3, 3);
    width: 100%;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2px;;
    box-shadow: 1px 1px 2px rgb(90, 9, 90);
    font-weight: lighter;
}
span{
    color: var(--pink);
    padding-left: 8px;
    border-radius: 2px;
}
.box-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin: 10px;
}
.box-container .box{
    overflow: hidden;
    border: 1px solid rgb(229, 33, 177);
    border-radius: 7px;
    width: 220px;
    padding: 2px;
    margin: 4px;
    background: #f5d0e2;
    height: 335px;
    align-content: center;
}
.box-container .box .discount{
    color: var(--pink);
    display: inline-block;
    font-size: 1.3rem;
    border: 1px solid black;
    background-color: #f9c8df;
    box-shadow: 2px 2px 3px purple;
    text-shadow: 1px 1px 2px rgb(40, 2, 40);
    margin: 2px;
}
.box-container .box .icons{
    color: rgb(72, 59, 59);
    text-align: center;
}
.box-container .box .icons a{
    color: var(--pink);
    font-size: 17px;
    padding: 2px;
}
.box-container .box .icons a:hover{
    color:rgb(36, 36, 218);
    padding: 4px;
}
.box-container .box .icons .image{
    background: rgb(249, 152, 191);
    
}
.box-container .box .icons .image h4{
    width: 100%;
    background: #f6dde9;
    font-size: 12px;
}
.box-container .box .icons .image .price{
    font-weight: bold;
    background: #f2499b;
    color: black
}
.box-container .box .icons .image img{
    width: 100%;
    padding: 0;
    margin: 0;
}
.more-products{
    background: #faf1f5;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.more-products h1{
    background: pink;
    color: rgb(3, 3, 3);
    width: 100%;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2px;;
    box-shadow: 1px 1px 2px rgb(90, 9, 90);
    font-weight: lighter;
}
.more-products .box-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 1px;
    margin: 10px;
}
.more-products .box-container .box{
    overflow: hidden;
    border: 1px solid black;
    border-radius: 7px;
    width: 220px;
    padding: 2px;
    margin: 0px;
    background: #f5d0e2;
    height: 335px;
    align-content: center;
}
.more-products .box-container .box .icons .image{
    background: rgb(249, 152, 191);
}
.more-products .box-container .box .icons .image h3{
    width: 100%;
    background: #f6dde9;
    font-size: 12px;
}
.more-products .box-container .box .icons .image .price{
    font-weight: bold;
    background: #f2499b;
    color: black
}
.box-container .box .icons .image img{
    width: 100%;
    padding: 0;
    margin: 0;
    height: 200px
}
.review{
    background: #faf1f5;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    margin: 6px;
}
.review h1{
    background: #f7a8ce;
    color: rgb(97, 28, 28);
    width: 100%;
    height: 35px;
    margin: 2px;;
    box-shadow: 1px 1px 2px rgb(90, 9, 90);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-weight: lighter;
}
.review .customer-box{
    flex: 1 1 20rem;
    align-items: center;
    padding: 15px;
    margin: 10px;
    gap: 10px;
    position: relative;
    border: 1px rgb(65, 36, 41);
    box-shadow: 2px 2px 3px purple;
    border-radius: 4px;
}
.review .customer-box .box i{
    color: #e84393;
}
.review .customer-box p{
    color: rgb(8, 8, 136);
    border: 1px solid black;
    background: #f4dbe6;
    padding: 4px;
    border-radius: 4px;
    display: flex;
}
.review .customer-box .person{
    display: flex;
    align-items: center;
    padding: 3px;
}
.review .customer-box .person img{
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 1rem;
}
.review .customer-box .person h3{
    color: #9e028e;
    font-weight: lighter;
}
.contacts{
    border: 1px solid rgb(185, 3, 121);
    width: 50%;
    border-radius: 5px;
    margin: 6px;
}
.contacts h1 {
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: lighter;
    background: #f2b4d2;
    color: #700265;
    margin: 5px;
}
.contacts .row{
    margin: 5px;
}
.contacts .row form{
    padding: 10px;
    margin: 5px;
}
.contacts .row form .input-box .box1{
    margin: 5px;
    border: 1px solid rgb(175, 2, 140);
    border-radius: 5px;
    width: 300px;
    height: 30px;
}
.contacts .row form .input-box .box{
    margin: 5px;
    border: 1px solid rgb(167, 3, 134);
    border-radius: 5px;
    width: 80%;
    font-size: 17px;
}
.contacts .row form .input-box .box::placeholder{
    color: #7d023e;
    opacity: 0.5;
    font-size: 15px;
}
.contacts .row form .input-box .box1::placeholder{
    color: #7d023e;
    opacity: 0.5;
    font-size: 15px;
}
.contacts .row form .button .btn{
    background: #f477b3;
    padding: 4px;
    margin: 2px;
    border-radius: 6px;
    border: none;
    font-size: 17px;
    color: #640131;
    font-weight: lighter;
}
.contacts .row form .button .btn:hover{
    padding: 5px;
    background: #f55aa5;
    box-shadow: 2px 1px 2px purple;
    border-radius: 15px;
}
.footer{
    background: linear-gradient(rgb(249, 230, 234), rgb(244, 159, 173));
}
.footer .box-contain{
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    margin: 5px;
}
.footer .box-contain .box{
    flex: 1 1 20rem;
}
.footer .box-contain .box h3{
    color:#ee2486;
    font-weight: lighter;
    margin: 3px;
    padding: 5px;
    font-size: 1.5rem;
}
.footer .box-contain .box a{
    display: block;
    color: rgb(4, 4, 123);
    padding: 2px;
    margin: 2px;
}
.footer .box-contain .box1{
    flex: 1 1 20rem;
}
.footer .box-contain .box1 h3{
    color:#ee2486;
    font-weight: lighter;
    margin: 3px;
    padding: 5px;
    font-size: 1.5rem;
}
.footer .box-contain .box1 a{
    display: block;
    color: rgb(4, 4, 123);
    padding: 2px;
    margin: 2px;
}
.footer .box-contain .box1 .fa{
    padding: 8px;
    font-size: 25px;
    width: 40px;
    text-align: center;
    text-decoration: none;
    margin: 4px 2px;
    border-radius: 50%;
}
.footer .box-contain .box1 .fa-facebook{
    background: #3B5998;
    color: white;
}
.footer .box-contain .box1 .fa-instagram{
    background: #125688;
    color: white;
}
.footer .box-contain .box1 .fa-youtube{
    background: #bb0000;
    color: white;
}
.footer .box-contain .box1 .fa-twitter{
    background: #55ACEE;
    color: white;
}
.footer .box-contain .box a:hover{
    color:#ee2486;
    padding: 4px;
    text-decoration: underline;
}
.footer .box-contain .box1 a:hover{
    box-shadow: 2px 2px 3px#ee2486;
    padding: 10px;
}
.footer .foot{
    text-align: center;
    padding:1.5rem;
    margin-top: 1.5rem;
    padding-top: 5px;
    font-size: 1.2rem;
    color:#333;
    border-top: .1rem solid rgba(0,0,0,.1);
}








@media (max-width:991px){
    
    html{
        font-size: 55%;
    }

    .home{
        background-position: left;
    }

}

@media (max-width:768px){

    header .fa-bars{
        display: block;
    }

    header .navbar{
        position: absolute;
        top:100%;
        left:0;
        right:0;
        background:#eee;
        border-top: .1rem solid rgba(0,0,0,.1);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    }

    header .navbar a{
        margin:1.5rem;
        padding:1.5rem;
        background:#fff;
        border:.1rem solid rgba(0,0,0,.1);
        display: block;
    }
    .container{
        margin-top: 4rem;
    }
    .container .content .course .button .btn{
        padding: 2px;
    }
    

    .home .content h3{
        font-size: 5rem;
    }

    .home .content span{
        font-size: 2.5rem;
    }

    .icons-container .icons h3{
        font-size: 2rem;
    }
    
    .icons-container .icons span{
        font-size: 1.7rem;
    }
    

@media (max-width:450px){
    
    html{
        font-size: 50%;
    }

    .heading{
        font-size: 3rem;
    }

}




















