body{
    margin: 5rem 2rem;
    padding: 2rem;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
}
.container{
    background-color: white ;
    color: #cf1414;
    padding: 7px 10px;
    box-shadow: 1px 2px #31bcd7;
}
.box{
    margin: 5px;
    padding: 2px;
    background-color: lightgray;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    

}