*{
    margin: 0;
    padding: 0;
}
body{
    background: white;
    overflow: scroll;
}
.page-holder{
    background-color: #23efef;
    padding: 1.34rem;
    display: flex;
    justify-content: space-between;
}
.logo{
    color: white;
    align-self: center;
    margin-left: 1.2rem;
    font-size: 1rem;
    text-shadow: #046868 2px 2px 4px;
}
.nav-bar{
    margin: auto;
}
.nav-bar a{
    color: black;
    padding: 1.5rem;
    cursor: pointer;
    text-decoration: none;
    font-size: 1rem;
}
.nav-bar a:hover{
    text-decoration: underline;
}
.button2{
    margin-top: 1rem;
    border: solid white 2px;
    border-radius: 30px;
    padding: 5px 10px;
    background: white;
    box-shadow: #046868 2px 2px 4px;
    width: fit-content;
}
.button2 a{
    text-decoration: none;
    color: black;
    font-size: 1rem;
}
button{
    cursor: default;
    text-decoration: none;
    display: flex;
    padding: 5px 10px;
    font-size: 1rem;
    border: solid white 2px;
    border-radius: 30px;
    box-shadow: #046868 2px 2px 4px;
}
button a{
    text-decoration: none;
    color: blue;
}
button:hover{
    background: white;
    transition: 0.5s;
    transform: scale(1.05);
    filter: brightness(50%);
}
.button2:hover{
    background: white;
    transition: 0.5s;
    transform: scale(1.05);
    filter: brightness(50%);
}
main{
    margin: 5rem 2rem;
    padding: 2rem;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
}
.container{
    background: linear-gradient(to right, #0c7d65, #04a7a4);
}
.footer{
    background: -moz-linear-gradient(to right, #046868, #23efef);
    position: fixed;
    width: 100%;
    margin: auto 0;
    margin-bottom: 1rem;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.footer .heading h2{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    text-shadow: blue 2px 2px 4px;
}
.footer .content{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 1.5rem;
}
.footer .content p{
    margin-bottom: 1.3rem;
}
.footer .content h4{
    color: white;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}
.footer .content a{
    color: rgb(89, 66, 235);
    text-decoration: none;
    display: block;
    margin: 0.3rem 0;
}
.footer .content a:hover{
    text-decoration: underline;
}
footer{
    background: linear-gradient(to right, #046868, #23efef);
    padding: 1rem;
    font-size: 1rem;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-bottom: 2px solid rgb(134, 224, 15);
    display: flex;
}
@media (max-width: 768px){
    .footer .content{
        display: flex;
        flex-direction: column;
        font-size: 14px;
    }
    .footer {
        position: unset;
    }
}
@media (min-width: 769px) and (max-width: 1024px){
    .footer .content,
    footer {
        font-size: 14px;
    }
}
@media (orientation: landscape) and (max-height: 500px){
    .footer {
        position: unset;
    }
}