*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
body{

    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color:aqua;
}
.wrapper{
    margin: 20px 0;
    width: 200px;
    padding: 40px;
    
}
h3{
    color: white;
    text-align: center;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.input-box{
    margin: 20px 0;
    height: 40px;
    width: 100%;
}
.input-box input{
    height: 100%;
    width: 100%;
    border: none;
    background: transparent;
    outline: none;
    padding: 0 10px;
    font-size: 13px;
    border-radius: 20px;
    border: 2px solid purple;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px 25px 10px 15px;
}
.terms-conditions{
    font-size: 13px;
    color: black;
    margin: 10px 0;
    text-align: center;

}
button{
    line-height: 1;
    width: 100%;
    height: 40px;
    border: none;
    background: white;
    color: black;
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;
}