:root{
--bgcolor: #1a79cf;

}
*{
    margin: 0;
    padding: 0;
}
.page-holder{
    background-color: aqua;
    padding: 1.34rem;
    display: flex;
    justify-content: space-between;

}
.logo{
    color: white;
    align-self: center;
    margin-left: 1.2rem;
    font-size: 1rem;
}
.nav-bar{
    margin: auto;
}
.nav-bar a{
    color: black;
    padding: 1.5rem;
    cursor: pointer;
    text-decoration: none;
    font-size: 1rem;
}
.menu-icon{
    color: white;
    cursor: pointer;
    display: none;
}
.header-right{
    display: flex;
    align-items: center;
    gap: 1rem;
}
button{
    font-size: 1rem;
    border-radius: 25px;
    padding: 5px;
    background-color: rgb(39, 221, 218);
    box-shadow: rgb(3, 82, 152) 2px 2px 4px;
    cursor: pointer;
}
.nav-links{
    display: flex;
    list-style: none;
    border-radius: 15px;
    background-color: rgb(39, 221, 218);
    box-shadow: rgb(5, 86, 186) 2px 2px 4px;
    padding: 3px;
    text-decoration: none;
    margin: 2px;
    justify-content: center;
}
.nav-links a{
    text-decoration: none;
    color: black;
    padding: 5px 10px;
    margin: 2p;
}
@media screen and (max-width: 768px){
    .nav-bar{
        display: flex;
    }
    .menu-icon{
        display: block;
    }
}